body {
    margin: 0px;
    background-color: #202020;
    color: white;
    font-family: Arial, sans-serif;
}

/* Page Heading */

.heading {
    display: flex;
    justify-content: center;
    margin: 25px;
}

h1 {
    margin: 0px;
    font-size: 32px;
}

h2 {
    font-size: 20px;
    padding-left: 10px;
}

.popcorn-image {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

/* Movies */

.movies-container {
    display: flex;
    flex-wrap: wrap;
}

.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: calc(25% - 20px);
}

.movie-card p {
    margin: 5px;
    margin-left: 0px;
}

.movie-title {
    font-weight: bold;
}

.load-more-movies {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#load-more-movies-btn {
    padding: 10px;
    font-size: 16px;
    background-color: #e63946;
    border: 3px solid white;
    width: 20%;
    color: white;
}

#load-more-movies-btn:hover {
    background-color: #c1121f;
    cursor: pointer;
}

/* Search */

.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.search-bar {
    padding: 10px;
    font-size: 16px;
    border: 2px solid white;
    width: 20%;
}

.search-btn {
    background-color: #e63946;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #c1121f;
  }

.close-btn {
    background-color: #e63946;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.close-btn:hover {
    background-color: #c1121f;
  }

.hidden {
    display: none;
}

/* Popup Window Feature */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 300px;
    z-index: 9999;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    height: 100%;
    width: 100%;
}

.popup-close {
    display: flex;
    justify-content: right;
}

.popup-content {
    display: flex;
    justify-content: center;
}

.popup-text {
    color: black;
    font-size: 20px;
}
